/* Estilos del formulario de inventario */
.inventario-form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.inventario-form h3 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #495057;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box; /* Asegura que el padding se incluye en el ancho total */
}

.btn-submit {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-submit:hover {
  background-color: #0056b3;
}


.mensaje {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.mensaje.success {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.mensaje.error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}


.inventario-form-container {
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

