body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
    margin-bottom: 20px; /* Espacio debajo del header */
  }
  
  .main-content {
    flex: 1;
    margin-bottom: 20px; /* Espacio debajo del main */
  }
  
  footer {
    margin-top: 20px; /* Espacio encima del footer */
  }
  
  @media (max-width: 767px) {
    header {
      margin-bottom: 15px; /* Ajusta según necesidad */
    }
  
    .main-content {
      margin-bottom: 15px; /* Ajusta según necesidad */
      padding: 0 10px; /* Añade un poco de padding lateral */
    }
  
    footer {
      margin-top: 15px; /* Ajusta según necesidad */
    }
  
    .navbar-nav .nav-item {
      margin-bottom: 10px; /* Espacio entre elementos de navegación */
    }
  
    .logout-section {
      margin-top: 20px; /* Espacio adicional para "Cerrar Sesión" */
    }
  }
  